<!DOCTYPE html>
<html>

<head>
    <title>Feedback de colaboradores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Gabriel Gouveia, Rodrigo Emiliano e Lucas Santos - EC 8">
    <meta name="description" content="Sistema de feedback de colaboradores - Desafio de LP4">
    <meta name="copyright" content="© copyright 2022, Faculdade Engenheiro Salvador Arena">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../Styles/feedbackExcluido.css">
</head>

<body class="gradient">
    <aside>
        <nav>
            <ul>
                <br>
                <li>
                    <a href="./index.html">
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a>
                        <p>Tutorial</p>
                    </a>
                </li>
                <li>
                    <a href="./feedbackCadastro.html">
                        <p>Cadastrar feedback</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main>
        <h3 style="text-align: center;">Feedback excluído!</h3>
    </main>
</body>
<script>
    window.addEventListener("DOMContentLoaded", function () {

        let token = sessionStorage.getItem("token");
        fetch('http://localhost:4444/api/v1/verifyAuth//checkAuthentication', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            }
        })
            .then(resposta => {
                return resposta.json();
            })
            .then(json => {
                if (json.msg == 'Tudo certo!') {

                    let re = sessionStorage.getItem('colaboradorClicado');
                    fetch('http://localhost:4444/api/v1/colaboradores/consultar/' + re, {
                        method: 'GET'
                    })
                        .then(resposta => {
                            return resposta.json();
                        })
                        .then(dados => {
                            dados[0].ID_FEEDBACK = null;
                            dados[0].NASCIMENTO = dados[0].NASCIMENTO.toString().substring(0, 10);
                            dados[0].DATA_ENTRADA = dados[0].DATA_ENTRADA.toString().substring(0, 10);

                            fetch('http://localhost:4444/api/v1/colaboradores/alterar', {
                                method: 'PUT',
                                headers: {
                                    'Authorization': 'Bearer ' + token,
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(dados[0])
                            })
                                .then(resposta => {
                                    if (resposta.status == 200) {                                        
                                        return;
                                    }

                                    else {
                                        console.log(resposta.body);
                                    }
                                })
                        })
                        .catch(erro => { console.log(erro) });
                }
                else {
                    window.location.href = './authError.html';
                }
            })
            .catch(erro => {
                console.log(erro);
                window.location.href = './authError.html';
            })

    }, false);
</script>

</html>